body  {
background-color: #dbe4ee;
font-family: monospace;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.calculator{
    display: flex;
    flex-direction: column;
    background-color: #002a53;
    justify-content: space-between; 
    gap: 4px;
    width: 400px;
    height: 500px;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

.calc{
    color: white;
    align-self: center;
    margin-top: 4px;
    font-size: 12px;
}

.display {
    background-color: rgb(59, 59, 59);
    width:95%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    margin: 4px 0 10px;
    flex-shrink: 0;
    border-radius: 4px;

    font-size: 48px;
}

.operations {
    color: white;
    overflow:auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0 4px 0 4px;
}

.btn {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    font-size: 24px;
    font-family: monospace;
    border-color: #3e7cb1;
}

.btnOpe {
    background-color: #dbe4ee;

}

.btnClear {
    background-color: #188cff;
}

.btnBackspace {
    background-color: #ffa7a7;
}

.equal {
    background-color: #f17300;
}

.btn.clicked{
    background-color: #3e7cb1;
}

.btnRow06 {
    margin-bottom: 10px;
}


.equal {
    width:100% ;
    
}